internal style sheet 
div{
    background-color: red;
    text-color: white;
    font-size: 32px;
    text-align: center;
    text:Bold:
     


}
p1{
    backround color: green;
    text-color: white;
    font-size: 18px;
}
inline style 
button{             
    background-color: orange;
    font-size: 18px;
    